@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300');

 html, body {
        height: 100%;
        margin: 0px;
    }

header, nav, footer, section {
    overflow: hidden
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto auto 0px;
    width: 100%;
}

.container {
         height: 100%;
}


nav{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.70)
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #c79e53;
}

li a {
    color: black
}


a:hover {
    text-decoration: underline;
    color: #c79e53;
}

footer a {
    color: black
}

h1, h2 {
        color: #c79e53;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    text-align: center
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #f5eceb;
    height: 150px;
    text-align: center
}

footer p {
    color: black;
    border: 2px solid #fff;
    padding: 30px 60px;
    margin: 30px 75px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.frost {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.70);
    overflow:auto
}


.blurb, .one, .two, .three {
     min-height: 100%;
    padding:100px 25px;

}

.blurb{
    text-align: center;
    background-color: #FBF9F8
}
.one{
    background-color: #f5eceb
}

.two{
    background-color: #fff
}

.three{
 background-size: 40px 40px;
    background-image: linear-gradient(to right, #aeaeae 1px, transparent 1px), linear-gradient(to bottom, #aeaeae 1px, transparent 1px);
}


.left-col {
  padding: 5px;
  float:left;
  width:48%;
}
.right-col {
  padding: 5px;
  float:left;
  width:48%;
}



img {
    display:block;
    margin:auto;}

img.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px
    
}

input[type="submit"]  {
    color: white;
    padding: 5px;
 border: 0;
 background: #c79e53;
 box-shadow: none;
 border-radius: 5px;
}

form {
    padding-left: 30px
}

@media (max-width:800px) {
    
    .blurb, .one, .two, .three {
    height:100%
}
  .left-col, .mid-col, .right-col {
    width:100%;
  }
   .mid-col img, .left-col img, .right-col img {
    max-width:100%;
  }
    .container {
         height:auto;
}

}
