@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300');


header, nav, footer, section {
    overflow: hidden
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto auto 0px;
    width: 100%;
}

.container {
        
}


nav{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.70)
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #c79e53;
}

footer a {
    color: black
}

h1, h2 {
        color: #c79e53;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    text-align: center
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #f5eceb;
    height: 200px;
    text-align: center
}

footer ul {
    color: black;
    border: 2px solid #fff;
    padding: 30px 60px;
    margin: 30px 75px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

section p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.70)
}

section{
   
}

.blurb, .one, .two, .three {
     min-height: 500px;
    padding:100px 25px;

}

.blurb{
    text-align: center;
    background-color: #FBF9F8
}
.one{
    background-color: #f5eceb
}

.two{
    background-color: #fff
}

.three{
 background-size: 40px 40px;
    background-image: linear-gradient(to right, #aeaeae 1px, transparent 1px), linear-gradient(to bottom, #aeaeae 1px, transparent 1px);
}

.row{

}

.left-col {
  padding: 5px;
  float:left;
  width:33%;
}
.right-col {
  padding: 5px;
  float:left;
  width:31%;
}

.mid-col {
   padding: 5px;
  float:left;
  width:33%; 
}

img {
    display:block;
    margin:auto;}


@media (max-width:800px) {
    
    .blurb, .one, .two, .three {
    height:100%
}
  .left-col, .mid-col, .right-col {
    width:100%;
  }
   .mid-col img, .left-col img, .right-col img {
    max-width:100%;
  }
}
