.nav-outer-wrap {
    position: absolute;
    top: 0;
    z-index: 9999
}

.nthrive-main-nav {
    padding: 0;
    margin-top: 0
}

.nthrive-main-nav a {
    display: block;
    line-height: 3
}

.main-nav ul,
.main-nav {
    z-index: 9999999
}

.main-nav {
    position: relative
}

.main-nav ul,
.main-nav {
    z-index: 9999999
}

.main-nav ul,
.main-nav {
    z-index: 9999999
}

li.mb-first:overlay {
    background: #000;
    opacity: 0.2
}

.nthrive-main-menu {
    width: 100%
}

.nav-bg-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99999
}

.nav-bg-menu.br-30px {
    right: -30px !important
}

.nthrive-main-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.nthrive-main-menu>ul>li {
    display: inline-block
}

.nthrive-main-menu>ul>li>a {
    display: inline-block
}

.menu-panel.l-col-1 {
    width: 500px;
    right: 150px;
}
.menu-panel.l-col-2 {
    width: 705px;
    right: 70px;
}
.menu-panel.l-col-3 {
    width: 920px;
    right: 20px;
}

.panel-wrap.menu-panel {
    overflow: visible;
}
.menu-panel.l-col-1 div.menu-panel-wrap {
    width: 90%;
}
.menu-panel.l-col-2 div.menu-panel-wrap {
    width: 45%;
    float: left;
}

.main-nav {
    float: left;
    padding-right: 10px
}

.main-nav {
    position: relative
}

.menu-panel.l-col-3 div.menu-panel-wrap {
    width: 30%;
    float: left;
}

.open .menu-panel-wrap {
    min-height: 300px;
}
.menu-panel-wrap {
    height: 100%;
    padding: 0 10px;
}
.panel-wrap {
    background: #f6f6f6;
    border: 1px solid #b3b3b3;
    box-shadow: 0 4px 4px -3px #171717;
    color: #5E6977;
    cursor: default;
    right: -1px;
    line-height: normal;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -9999em;
    display: block;
    visibility: hidden
}

.menu-panel-group ul p {
    font-size: 13px;
    margin-left: 42px;
    margin-top: -15px;
    color: #86939E
}

.menu-panel-wrap {
    height: 100%;
    padding: 0 10px
}

.menu-panel-wrap>ul {
    padding: 0
}

.panel-wrap .menu-panel-wrap:last-child {
    border-right: 0 !important
}

.panel-wrap .menu-panel-wrap:nth-child(2n) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd
}

.menu-panel-group ul {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.menu-panel-group li>a {
    padding: 6px 10px 6px 5px;
    text-indent: 0;
    width: auto;
    line-height: 1.2em !important;
    margin-left: 35px;
    list-style-position: outside;
    list-style-type: disc;
    display: list-item !important
}

.menu-panel-group li:last-child {
    margin-bottom: 15px
}

.l-inline-list li.menu-panel-group {
    float: none;
    display: block
}

.header-Logo {
    height: 40px;
    width: 123px;
    background: url('../images/icon/logo-small.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0
}

.nav-top-level>a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 0 20px;
    color: #ffffff
}

.nav-top-level {
    margin: 0;
    padding-right: 0;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    line-height: 4.5;
    position: initial !important
}

body .panel-wrap li {
    line-height: 3 !important;
    display: block;
    float: none
}

.navarrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #f2f2f2;
    margin: 0 auto;
    bottom: .4em;
    text-align: center;
    position: relative;
    z-index: 999999;
    display: none;
    opacity: 0;
    visibility: hidden
}
a.open + .navarrow {
    display: block;
    opacity: 1;
    visibility: visible;
}

.nthrive-main-menu {
    width: auto !important
}

.logo-wrap.ptb-20px {
    padding: 12px 0
}

.menu-panel.open {
    max-height: 680px;
    opacity: 1;
    top: 3.3em;
    visibility: visible;
    z-index: 1001;
}
.menu-panel-group li > a {
    padding: 6px 10px 6px 5px;
    text-indent: 0;
    width: auto;
    line-height: 1.2em !important;
    margin-left: 35px;
    list-style-position: outside;
    list-style-type: disc;
    display: list-item !important;
}
.menu-panel a {
    color: #454545;
    display: block;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.25;
    margin: .35em 0;
    text-decoration: none;
}
.menu-panel a:hover, .menu-panel a:focus {
    color: #b0246f;
    text-decoration: none;
}
.menu-panel-group > a {
    color: #441a63;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 1.2em !important;
    margin-bottom: 6px;
    padding: 4px 10px;
    display: block;
}